@using Bookish.Models.Requests;

@model BookRequest
@{
    ViewData["Title"] = "create";
}

<div class="text-center">
    <h1 class="display-4">Add a book to the library</h1>
    <form asp-controller="Book" asp-action="Create" method="post">
        <label>
            Title
            <input asp-for="Title" type="text">
        </label>
         <label>
            Author
            <select asp-for="Authors" asp-items="@ViewBag.Authors"></select>
        </label>
          <label>
            Blurb
            <input asp-for="Blurb" type="text">
        </label>
          <label>
            Cover Image
            <input asp-for="CoverImageUrl" type="text">
        </label>
        <input type="submit" value= "create">
    </form>
</div>
